---

import Card from '../../components/Card.astro';

interface MarkdownFrontmatter {
    pubDate: any;
}

const allPosts = await Astro.glob<MarkdownFrontmatter>('../../pages/posts/*.md');

---

<article class="max-w-6xl mx-auto px-3">
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
      {allPosts.map(p => <div class="col-span-1">
        <Card post={p} />
      </div>)}
    </section>
  </article>