---
import ExperienceItem from "../ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Marzo 2021 - Actualidad",
    title: "Licenciado en Sistemas",
    company: "UNLP | Informatica",
    description:
      "Aprendi a manejar Java con sus respectivos Test de Unidad, Hicimos proyectos en python, aplicamos metodologias agiles, usamos base base de datos relacionalesm, etc. Actualmente estoy terminando de cursar 3er año.",
  },
  {
    date: "Marzo 2014 - Diciembre 2020",
    title: "Tecnico en Electronica",
    company: "Albert Thomas",
    description:
      "Aprendi lo basico de C++ (funciones, parametros, matrices), realice conversores de temperatura usando visual basic, tambien usamos microcontroladores como Arduino para hacer teclados y otros proyectos"
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
