---
import ExperienceItem from "../ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2023 - Actualmente...",
    title: "Testing Engineer",
    company: "Gaming Labs Sudamerica",
    description:
      "Cree un software para automatizar el ingreso de numeros de datos sobre un maquina de juegos, ahorrando semanas de trabajo para la empresa. Para el proyecto use python con Pandas, PyGetWindow, Pyautogui, Tkinter, entre otras.",
    
  },
  {
    date: "Marzo 2022 - Diciembre 2022",
    title: "Tutor de Matematicas",
    company: "UNLP Informatica",
    description:
      "Mi tarea fue compartir mi experiencia con quienes están comenzando a transitar por alguna de las carreras, a fin de facilitar su adaptación al nuevo ámbito y ayudarlos a construir su rol de estudiante universitario.",
  },
  {
    date: "Marzo 2020 - Marzo 2021",
    title: "Pasante Backend Developer",
    company: "UNITEC - Proyecto Arduino",
    description:
      "Durante el período de prácticas aprenderemos el uso y funciones de las herramientas y módulos que nos brinda Arduino y cómo aprovecharlos a lo largo de nuestros proyectos.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
