---


const REPOS = [{
        "Populares": [{
            nombre: "CADP",
            url: "https://github.com/Fabian-Martinez-Rincon/CADP",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "Taller-de-Programacion",
            url: "https://github.com/Fabian-Martinez-Rincon/Taller-de-Programacion",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "Arquitectura-de-Computadoras",
            url: "https://github.com/Fabian-Martinez-Rincon/Arquitectura-de-Computadoras",
            organizacion: "Fabian-Martinez-Rincon"
        },{ 
            nombre: "Ayed",
            url: "https://github.com/Fabian-Martinez-Rincon/AyED",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "FOD",
            url: "https://github.com/Fabian-Martinez-Rincon/FOD",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Ingenieria-de-Software1",
            url: "https://github.com/Fabian-Martinez-Rincon/Ingenieria-de-Software1",
            organizacion: "Fabian-Martinez-Rincon"
        }
    ]}

]



const COLORS = [
    "text-blue-500",
    "text-blue-500",
    "text-blue-500",
]


---



<section class=" max-w-screen-lg mx-auto pb-12">
    {REPOS.map((repo, i) => (
        Object.entries(repo).map(([_, value]) => (
            
            <ul
            class="mx-auto grid grid-cols-1 gap-x-2 gap-y-2 lg:mx-0 lg:max-w lg:grid-cols-3 md:gap-4 md:grid-cols-2"
            >
            {value.map((r:any) => (
                <li class="">
                    <a href={r.url} target="_blank">
                        <img
                        class="w-full h-auto transform transition-all duration-300 ease-in-out hover:-translate-y-2 "
                        src={`https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=${r.organizacion}&repo=${r.nombre}&theme=react&bg_color=1F222E&title_color=${(COLORS[i])}&icon_color=F8D866&hide_border=true&show_icons=false`}
                        alt="readme-typing-svg"
                        />
                    </a>
                </li>    
            ))}
            </ul>
        ))
      
    ))}


</section>

  











