---


const REPOS = [
  {
        "primero": [
        {
            nombre: "CADP",
            url: "https://github.com/Fabo-University/CADP",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Taller-de-Programacion",
            url: "https://github.com/Fabo-University/Taller-de-Programacion",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Arquitectura-de-Computadoras",
            url: "https://github.com/Fabo-University/Arquitectura-de-Computadoras",
            organizacion: "Fabo-University"
        }
    ],
        "segundo": [
        {
            nombre: "Orientacion-a-Objetos1",
            url: "https://github.com/Fabo-University/Orientacion-a-Objetos1",
            organizacion: "Fabo-University"
        },
        {
            nombre: "AyED",
            url: "https://github.com/Fabo-University/AyED",
            organizacion: "Fabo-University"
        },
        {
            nombre: "FOD",
            url: "https://github.com/Fabo-University/FOD",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Seminario-de-Lenguajes-Python",
            url: "https://github.com/Fabo-University/Seminario-de-Lenguajes-Python",
            organizacion: "Fabo-University"
        },
        {
            nombre: "ISO",
            url: "https://github.com/Fabo-University/ISO",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Ingenieria-de-Software1",
            url: "https://github.com/Fabo-University/Ingenieria-de-Software1",
            organizacion: "Fabo-University"
        }
        ]
    },
    {
        "tercero": [
        {
        nombre: "Programacion-Concurrente",
        url: "https://github.com/Fabo-University/Programacion-Concurrente",
        organizacion: "Fabo-University"
        },
        {
            nombre: "Redes-y-Comunicaciones",
            url: "https://github.com/Fabo-University/Redes-y-Comunicaciones",
            organizacion: "Fabo-University"
        },
        {
            nombre: "CPLP",
            url: "https://github.com/Fabo-University/CPLP",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Proyecto-de-Software",
            url: "https://github.com/Fabo-University/Proyecto-de-Software",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Ingenieria-de-Software1",
            url: "https://github.com/Fabian-Martinez-Rincon/Ingenieria-de-Software1",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Orientacion-a-Objetos-2",
            url: "https://github.com/Fabian-Martinez-Rincon/Orientacion-a-Objetos-2",
            organizacion: "Fabian-Martinez-Rincon"
        }

    ]
    }
]

---

<section class=" max-w-screen-lg mx-auto pb-12">
    {REPOS.map((repo) => (
        Object.entries(repo).map(([key, value]) => (
            <h2
            class="flex items-center mb-6 mt-6 text-2xl font-semibold gap-x-1 text-black/80 dark:text-white items-center justify-center flex2"
            >
            Materias de <span class="text-blue-600 dark:text-blue-500">{key}</span>
            </h2>
            <ul
            class="mx-auto grid grid-cols-1 gap-x-4 gap-y-4 lg:mx-0 lg:max-w lg:grid-cols-3  text-white"
            >
            {value.map((r:any) => (
                <li class="">
                    <a href={r.url}>
                        <img
                        src={`https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=${r.organizacion}&repo=${r.nombre}&theme=react&bg_color=1F222E&title_color=007FFF&icon_color=F8D866&hide_border=true&show_icons=false`}
                        alt="readme-typing-svg"
                        />
                    </a>
                </li>    
            ))}
            </ul>
        ))
      
    ))}


</section>

  











