---


const REPOS = [{
        "primero": [{
            nombre: "CADP",
            url: "https://github.com/Fabian-Martinez-Rincon/CADP",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "Taller-de-Programacion",
            url: "https://github.com/Fabian-Martinez-Rincon/Taller-de-Programacion",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "Arquitectura-de-Computadoras",
            url: "https://github.com/Fabian-Martinez-Rincon/Arquitectura-de-Computadoras",
            organizacion: "Fabian-Martinez-Rincon"
        },{ 
            nombre: "Organizacion_de_Computadoras",
            url: "https://github.com/Fabian-Martinez-Rincon/Organizacion_de_Computadoras",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "EPA",
            url: "https://github.com/Fabian-Martinez-Rincon/EPA",
            organizacion: "Fabian-Martinez-Rincon"
        },
    ]},{
        "segundo": [{
            nombre: "Orientacion-a-Objetos1",
            url: "https://github.com/Fabian-Martinez-Rincon/Orientacion-a-Objetos1",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "AyED",
            url: "https://github.com/Fabian-Martinez-Rincon/AyED",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "FOD",
            url: "https://github.com/Fabian-Martinez-Rincon/FOD",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "Seminario-de-Lenguajes-Python",
            url: "https://github.com/Fabian-Martinez-Rincon/Seminario-de-Lenguajes-Python",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "ISO",
            url: "https://github.com/Fabian-Martinez-Rincon/ISO",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Ingenieria-de-Software1",
            url: "https://github.com/Fabian-Martinez-Rincon/Ingenieria-de-Software1",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "DBD",
            url: "https://github.com/Fabian-Martinez-Rincon/DBD",
            organizacion: "Fabian-Martinez-Rincon"
        }]
    },
    {
        "tercero": [
        {
        nombre: "Programacion-Concurrente",
        url: "https://github.com/Fabian-Martinez-Rincon/Programacion-Concurrente",
        organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Redes-y-Comunicaciones",
            url: "https://github.com/Fabian-Martinez-Rincon/Redes-y-Comunicaciones",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "CPLP",
            url: "https://github.com/Fabian-Martinez-Rincon/CPLP",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Proyecto-de-Software",
            url: "https://github.com/Fabian-Martinez-Rincon/Proyecto-de-Software",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Ingenieria-de-Software-2",
            url: "https://github.com/Fabian-Martinez-Rincon/Ingenieria-de-Software-2",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Orientacion-a-Objetos-2",
            url: "https://github.com/Fabian-Martinez-Rincon/Orientacion-a-Objetos-2",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "CyC",
            url: "https://github.com/Fabian-Martinez-Rincon/CyC",
            organizacion: "Fabian-Martinez-Rincon"
        }

    ]
    }
]



const COLORS = [
    "text-green-500",
    "text-blue-500",
    "text-yellow-500"
]

const COLORS_TARGET = [
    "BBF7D0",
    "BFDBFE",
    "F3E6A7",
]

function getRandomColor() {
    const colors = Object.values(COLORS_TARGET);
    return colors[Math.floor(Math.random() * colors.length)];
}

---



<section class=" max-w-screen-lg mx-auto pb-12">
    {REPOS.map((repo, i) => (
        Object.entries(repo).map(([key, value]) => (
            <h2
            class= {`flex items-center mb-6 mt-6 text-2xl font-bold gap-x-1 ${(COLORS[i])} justify-center`}
            >
           Materias de {key}
            </h2>
            <ul
            class="mx-auto grid grid-cols-1 gap-x-2 gap-y-2 lg:mx-0 lg:max-w lg:grid-cols-3 md:gap-4 md:grid-cols-2"
            >
            {value.map((r:any) => (
                <li class="">
                    <a href={r.url} target="_blank">
                        <img
                        class="w-full h-auto transform transition-all duration-300 ease-in-out hover:-translate-y-2 "
                        src={`https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=${r.organizacion}&repo=${r.nombre}&theme=react&bg_color=1F222E&title_color=${(COLORS[i])}&icon_color=F8D866&hide_border=true&show_icons=false&show_description=false`}
                        alt="readme-typing-svg"
                        />
                    </a>
                </li>    
            ))}
            </ul>
        ))
      
    ))}


</section>

  











