---
import LinkedInIcon from "@/components/icons/IconLinkedIn.astro"
import GithubIcon from "@/components/icons/IconGitHub.astro"
import MailIcon from "@/components/icons/IconMail.astro"
import LinkButton from "../LinkButton.astro"
---

<style>
  #marco:hover #image{
      transform: translate(35px, -35px);
    }
  #marco:hover #image2{
      transform: scaleX(-1) translate(35px, -35px);
  }

  #image, #image2 {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
  #image {
    top: -20px;
    right: -10px;
    
  }
  #image2 {
    top: -20px;
    left: -10px;
    transform: scaleX(-1);
    
  }
</style> 

<div id="marco" class="relative  text-custom-text  ">
  <div class="m-10">
    <h1 class="text-4xl font-bold tracking-tight sm:text-5xl items-center justify-center flex " >El Rincon de Fabo</h1>
    <h2 class="text-2xl  text-yellow-400  text-center">Data Engineer</h2>

    <div class=" gap-4 items-center justify-center">
        <div class="relative flex items-center justify-center">
            <!-- Imagen principal centrada -->
            <img
            class="shadow-lg object-cover w-64 h-full border-4 border-gray-900"
            src="/vegeta.gif"
            alt="{personalImageAlt}"
            />
            <!-- Imagen pequeña en la esquina superior izquierda -->
            <img
            class="absolute w-12 h-12 border-2 border-gray-600 rounded-full top-0 left-0 transform translate-x-64 -translate-y-2"
            src="/f.svg"
            alt="Small overlay image"
            />
        </div>
        <div class="flex items-center justify-center">
            <LinkButton href="https://github.com/Fabian-Martinez-Rincon">
            <GithubIcon class="size-6 flex " />

            </LinkButton>
            <LinkButton href="https://linkedin.com/in/fabian-martinez-rincon">
            <LinkedInIcon class="size-6 flex" />

            </LinkButton>

            <LinkButton href="mailto:fabianmartinezrincon.123@gmail.commailto:fabianmartinezrincon.123@gmail.com">
            <MailIcon class="size-6 flex" />
            </LinkButton>
        </div>
      </div>
    
      <p class="text-custom-text ">Trabajo como Data Engineer en BB-Media, especializado en <strong class=" text-yellow-300">Web Scaping</strong> usando Python, MongoDB, Insomia y demas Tecnologias. Tambien soy Tecnico y Estoy cursando 4to año de Licenciatura en Sistemas en UNLP Informatica </p>
  </div>
</div>

