---
const personalImageAlt = "Fabian Martinez Rincon"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/IconLinkedIn.astro"
import GithubIcon from "@/components/icons/IconGitHub.astro"
import MailIcon from "@/components/icons/IconMail.astro"
import SocialPill from "@/components/buttons/SocialPill.astro"
---

<style>
  #marco:hover #image, #marco:hover #image2 {
      transform: rotate(360deg);
    }
  #image, #image2 {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
  #image {
    top: -20px;
    right: -20px;
  }
  #image2 {
    top: -20px;
    left: -20px;
  }
</style> 

<div id="marco" class="relative bg-white border-8 border-black p-4 text-pretty ">
  <img id="image2" class=" top-0 left-0 border-4 border-black rounded-full" src="/projects/screw.png" alt="Descripci칩n de la imagen">
  <img id="image" class=" top-0 right-0 border-4 border-black rounded-full" src="/projects/screw.png" alt="Descripci칩n de la imagen">

  <div class="flex gap-4 mb-4 items-center justify-center">
    <img
      class="rounded-full shadow-lg size-16"
      src="/fabian.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/fabian-martinez-rincon"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Backend Developer</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-extrabold tracking-tight text-black sm:text-5xl items-center justify-center flex"> <span class="underline underline-offset-3 decoration-8 decoration-red-800">Fabian Martinez Rincon</span></h1>


  <p
    class="bg-white mt-6 text-xl text-black "
  >
    Me especializo en la automatizaci칩n de tareas usando
    <mark class="px-2 text-black bg-yellow-300 rounded">Python como lenguaje principal</mark>
    . Trato de documentar absolutamente todo lo que hago, y se ve reflejado en mi GitHub.
  </p>
  <nav class="flex-wrap gap-4 mt-8 items-center justify-center flex">
    <SocialPill  href="mailto:fabianmartinezrincon.123@gmail.com">
      <MailIcon class="size-4 " />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/fabian-martinez-rincon">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Fabian-Martinez-Rincon">
      <GithubIcon class="size-4" />
      Github
    </SocialPill>
    <SocialPill  href="https://drive.google.com/file/d/1H9IQzIcPTgCtffV4D-LzDxGFi2joDUnT/view?usp=sharing">
      Curriculum
    </SocialPill>
  </nav>
</div>
