---
const personalImageAlt = "Fabian Martinez Rincon"
import LinkedInIcon from "@/components/icons/IconLinkedIn.astro"
import GithubIcon from "@/components/icons/IconGitHub.astro"
import MailIcon from "@/components/icons/IconMail.astro"
import Link from "../icons/IconLink.astro"
import LinkButton from "../LinkButton.astro"
---

<style>
  #marco:hover #image{
      transform: translate(35px, -35px);
    }
  #marco:hover #image2{
      transform: scaleX(-1) translate(35px, -35px);
  }

  #image, #image2 {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
  #image {
    top: -20px;
    right: -10px;
    
  }
  #image2 {
    top: -20px;
    left: -10px;
    transform: scaleX(-1);
    
  }
</style> 

<div id="marco" class="relative  text-custom-text p-4 ">

  <div class="mb-16">

  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl items-center justify-center flex mb-4" > Fabian Martinez Rincon</h1>

  <h2 class="text-2xl  text-yellow-400 mt-2 text-center">Backend Developer</h2>

</div>

  <div class="flex gap-4 mb-4 items-center justify-center">
    <img
      class="shadow-lg  object-cover w-48 border-4 border-black rounded-2xl" 
      src="/fabian.jpg"
      alt={personalImageAlt}
    />
      <p class="text-custom-text ">Me especializo en la automatización de tareas usando <strong class=" text-yellow-300">Python como lenguaje principal</strong>. Trato de documentar absolutamente todo lo que hago, y se ve reflejado en mi GitHub. Mis conocimientos no quedan solo en lo teorico ya que trato de encontrar siempre una forma de aplicarlo en el trabajo o en algun proyecto. <br class="">
        <br class="">
        
        

      <LinkButton href="https://github.com/Fabian-Martinez-Rincon">
        <GithubIcon class="size-6 flex " />
        Github
        
      </LinkButton>
      <LinkButton href="https://linkedin.com/in/fabian-martinez-rincon">
        <LinkedInIcon class="size-6 flex" />
        LinkedIn
      </LinkButton>

      <LinkButton href="mailto:fabianmartinezrincon.123@gmail.commailto:fabianmartinezrincon.123@gmail.com">
        <MailIcon class="size-6 flex" />
        Contáctame
      </LinkButton>

      <LinkButton href="https://rincondelfabo.vercel.app/resumeES">
        <Link  />
        Curriculum
      </LinkButton>
    </p>
</div>
</div>

