---
import 'photoswipe/style.css';



---

    

<section class=" max-w-screen-lg px-4 mx-auto pb-12 sm:px-6 lg:px-8" id="gallery">
    <ul
      class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-3 lg:mx-0 lg:max-w-none lg:grid-cols-2 text-white"
    >
          <li>
            <lite-youtube
                class="h-44 w-full object-cover"
                videoid="Mdbeg4IpxkE"
                params="controls=1"
                class="relative top-0 block overflow-hidden rounded-2xl"
                data-pswp-width="1280" 
                data-pswp-height="720"
            ></lite-youtube>
          </li>
          <li>
            <lite-youtube
                class="h-44 w-full object-cover"
                videoid="KB_tUK8yiSg"
                params="controls=1"
                class="relative top-0 block overflow-hidden rounded-2xl"
                data-pswp-width="1280" 
                data-pswp-height="720"
            ></lite-youtube>
          </li>
          <li>
            <lite-youtube
                class="h-44 w-full object-cover"
                videoid="TjzeV7slTOc"
                params="controls=1"
                class="relative top-0 block overflow-hidden rounded-2xl"
                data-pswp-width="1280" 
                data-pswp-height="720"
            ></lite-youtube>
          </li>
          <li>
            <lite-youtube
                class="h-44 w-full object-cover"
                videoid="zS4fT5KMjNY"
                params="controls=1"
                class="relative top-0 block overflow-hidden rounded-2xl"
                data-pswp-width="1280" 
                data-pswp-height="720"

            ></lite-youtube>

            
          </li>

  
    </ul>
</section>

<script>
    import "@justinribeiro/lite-youtube";
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe')
    });
    lightbox.init();

</script>