---
import "photoswipe/style.css";

const VIDEOS = [
  {
    title: "Linktree para Instagram Next js 13",
    description:
      "Tenía un montón de links por todos lados y se me ocurrió hacer esto para tener un recopilatorio.",
    id: "Mdbeg4IpxkE",
  },
  {
    title: "Pagina Web Next js (Portada)",
    description:
      "Portada principal para Nomadiix (mi empresa) con algunas transiciones usando Tailiwind.",
    id: "KB_tUK8yiSg",
  },
  {
    title: "Readme para Github",
    description:
      "Readme principal de GitHub donde personalizo mis proyectos y le doy un poco de vida a la página usando Markdown.",
    id: "TjzeV7slTOc",
  },
  {
    title: "Galeria en Next js 13",
    description:
      "Tenía un montón de logos que había hecho con inteligencia artificial y quería tenerlos en un lugar en concreto y se me ocurrió hacer esta galería.",
    id: "zS4fT5KMjNY",
  },
];
---


<section class="flex flex-col gap-y-10 ">
  <div class="grid grid-cols-1 gap-5">
      {
        VIDEOS.map((video, i) => (
      <div class=" grid gap-8  md:grid-cols-2 ">

        <div class={`col-start-${i%2+1} flex flex-col justify-center space-content row-start-${2-(i%2)}`}>
          <h2 class="text-xl font-extrabold text-blue-800 ">
            {video.title}
          </h2>

          <p
            class="bg-white relative flex flex-col gap-2 pb-4 text-black md:col-span-3"
          >
            {video.description}
          </p>
        </div>
        <lite-youtube
          class={`relative top-0 overflow-hidden rounded-2xl h-44 w-full object-cover col-start-${2-(i%2)} row-start-1`}
          videoid={video.id}
          params="controls=1"
          data-pswp-width="1280"
          data-pswp-height="720">

        </lite-youtube>
    </div>
        ))
      }
  </div>
</section>

<script>
  import "@justinribeiro/lite-youtube";
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
