---
import "photoswipe/style.css";
import Postfit from "../Postfit.astro";

const VIDEOS = [
  {
    title: "Linktree para Instagram Next js 13",
    description:
      "Tenía un montón de links por todos lados y se me ocurrió hacer esto para tener un recopilatorio.",
    id: "Mdbeg4IpxkE",
  },
  {
    title: "Pagina Web Next js (Portada)",
    description:
      "Portada principal para Nomadiix (mi empresa) con algunas transiciones usando Tailiwind.",
    id: "KB_tUK8yiSg",
  },
  {
    title: "Readme para Github",
    description:
      "Readme principal de GitHub donde personalizo mis proyectos y le doy un poco de vida a la página usando Markdown.",
    id: "TjzeV7slTOc",
   }
];
---

<style>
  #logo {
    box-shadow: inset 0 0 0 4px black;
  }

</style>

<section class="flex flex-col gap-y-10 ">

  <!-- <div class="flex flex-col sm:flex-row items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4">
    <Postfit description={"Subo videos programando, o hablando temas que me son de interes, tambien tengo algunos videos de la facultad o trabajos practicos."} color="bg-blue-200" />
    <img id="logo" src="/nomadiix.webp" alt="emoji" class="w-48 sm:w-64 md:w-[250px] border-4 border-black rounded-full" />
</div> -->
  <div class="grid grid-cols-1 gap-5">
      {
        VIDEOS.map((video, i) => (
        <div class=" grid gap-8  md:grid-cols-2 ">

          <div class={`col-start-${i%2+1} flex flex-col justify-center space-content row-start-${2-(i%2)}`}>
            <h2 class="text-xl font-bold text-custom-text text-center mx-auto pb-4">
              <span>
              {video.title}
            </span>
            </h2>

            <p class="text-center bg-custom-text">
            {video.description}</p>
          </div>
          <lite-youtube
            class={`relative top-0 overflow-hidden  h-44 w-full object-cover col-start-${2-(i%2)} row-start-1`}
            videoid={video.id}
            params="controls=1"
            data-pswp-width="1280"
            data-pswp-height="720">

          </lite-youtube>
      </div>
        ))
      }
  </div>
</section>

<script>
  import "@justinribeiro/lite-youtube";
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
