---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import BlogsFacu from "../../components/sections/BlogsFacu.astro"
import BlogsPatrones from "../../components/sections/BlogsPatrones.astro"
import BlogsRedes from "../../components/sections/BlogsRedes.astro"
import Github from "../../components/sections/Github.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
      <SectionContainer class="">
        <BlogsFacu/>
        <BlogsPatrones/>
        <BlogsRedes/>
        <Github/>
      </SectionContainer>
  </main>
</Layout>

