---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import Blogs from "../../components/sections/Blogs.astro"
import Title from "../../components/Title.astro"

const allPosts = await Astro.glob('../*postsFacu*/**/*.md');

type Post = {
  frontmatter: {
    title: string;
    category?: string;
  };
  url: string;
};

type CategorizedPosts = {
  [key: string]: Post[];
};

const categorizedPosts = allPosts.reduce<CategorizedPosts>((acc:any, post:any) => {
  const category = post.frontmatter.category || "Otros";
  if (!acc[category]) {
    acc[category] = [];
  }
  acc[category].push(post);
  return acc;
}, {});

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>

  <main class="px-4 ">
    <SectionContainer>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {Object.keys(categorizedPosts).map((category) => (
        <div>
          <ul class="ml-4 list-disc  text-gray-200">
            {categorizedPosts[category].map((post) => (
              <li class="mb-1">
                <a href={post.url} class="text-blue-500 hover:underline">{post.frontmatter.title}</a>
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </SectionContainer>
      <SectionContainer class="">
        <Title title="Linux"/>
        <Blogs/>
        <br ><div class="h-4"></div>

        <img src="/posts/linux/recursos.gif" alt="Fabian Martinez Rincon" class=" mx-auto" />
        <br ><div class="h-4"></div>

      </SectionContainer>
  </div>
  </main>
</Layout>

