---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import Blogs from "../../components/sections/Blogs.astro"
import Title from "../../components/Title.astro"
import Hero from "@/components/sections/Hero.astro"
---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>

  <main class="px-4 ">
    <SectionContainer class=" md:py-16 ">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>

      <SectionContainer class="">
        <Title title="Linux" emoji="🤖"/>
        <Blogs/>
        <br ><div class="h-4"></div>

        <img src="/posts/linux/recursos.gif" alt="Fabian Martinez Rincon" class=" mx-auto" />
        <br ><div class="h-4"></div>

      </SectionContainer>
  </div>
  </main>
</Layout>

