---
import Layout from "../../layouts/Layout.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import BlogsRandom from "../../components/sections/BlogsRandom.astro"
import Title from "../../components/Title.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>

  <main class="px-4 ">
      <SectionContainer class="">
        <Title title="Preguntas que Me surgen de la nada y tengo que investigar"/>
        <BlogsRandom/>
      </SectionContainer>
  </div>
  </main>
</Layout>

