---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
    <div class="space-y-20  ">
      <SectionContainer class="py-16 md:py-36">
        <h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
        <ul>
          {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
      </SectionContainer>
  </div>
  </main>
</Layout>