---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"

import Blogs from "../components/sections/Blogs.astro"


---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
    <div class="space-y-20  ">
      <SectionContainer class="py-16 md:py-36">
        <Blogs/>
      </SectionContainer>
  </div>
  </main>
</Layout>

