---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/Sections/AboutMe.astro"
import Briefcase from "@/components/icons/IconBriefcase.astro"
import YoutubeIcon from "@/components/icons/IconYoutube.astro"
import PresentationIcon from "@/components/icons/IconPresentation.astro"
import CamIcon from "@/components/icons/IconCam.astro"
import GithubIcon from "@/components/icons/GithubIcon.astro"
import StudenIcon from "@/components/icons/IconStuden.astro"

import CodeIcon from "@/components/icons/IconCode.astro"
import Experience from "@/components/Sections/Experience.astro"
import Precentations from "@/components/Sections/Others.astro"
import Education from "@/components/Sections/Education.astro"
import ProfileCheck from "@/components/icons/IconProfileCheck.astro"
import Projects from "@/components/Sections/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Sections/Hero.astro"

import Youtube from "@/components/Sections/Youtube.astro"
import Gallery from "@/components/Sections/Gallery.astro"
import Github from "@/components/Sections/Github.astro"

import Card from '../components/Card.astro';

interface MarkdownFrontmatter {
  date: number;
}

const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');

  export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob<MarkdownFrontmatter>('./*.md');
    
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

  return paginate(sortedPosts, {
    pageSize: 21
  })
}

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <StudenIcon class="size-8" />
        Educación
      </h2>
      <Education />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="galeria">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <CamIcon class="size-8" />
        Galería (Una foto dice más que mil palabras)
      </h2>
      <Gallery />

    </SectionContainer>

    <SectionContainer id="presentaciones">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <PresentationIcon class="size-8" />
        Otros (Certificados, Charlas, Talleres, etc.)
      </h2>
      <Precentations />

    </SectionContainer>

    <SectionContainer id="videos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <YoutubeIcon class="size-8" />
        Videos programando cosas random
      </h2>
      
      <Youtube />

    </SectionContainer>

    <SectionContainer id="github">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <GithubIcon class="size-8" />
        Algunos repositorios de mi Github
      </h2>
      
      <Github />

    </SectionContainer>

      <SectionContainer id="blog">

      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"

      >

        <GithubIcon class="size-8" />
        Blogs

      </h2>
      <article class="max-w-6xl mx-auto px-3">
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
          {allPosts.map(p => <div class="col-span-1">
            <Card post={p} />
          </div>)}
        </section>
      </article>

      </SectionContainer>
    
  </div>

    

  </main>
</Layout>
