---
import Layout from "@/layouts/Layout.astro"


import Experience from "@/components/sections/Experience.astro"
import Education from "@/components/sections/Education.astro"
import Projects from "@/components/sections/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/sections/Hero.astro"

import Youtube from "@/components/sections/Youtube.astro"
import Gallery from "@/components/sections/Gallery.astro"
import Github from "@/components/sections/Github.astro"

import Video from "@/components/video/Video.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-20  ">

      
    <SectionContainer id="experiencia">
      <h2
        class="flex mb-6 text-3xl font-extrabold gap-x-3 text-black items-center justify-center flex2 "
      >
        Experiencia<mark class="px-2 text-black bg-yellow-300 rounded"> Laboral</mark>
      </h2>


      <Experience />
    </SectionContainer>

    <SectionContainer>
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-1 text-black items-center justify-center flex2"
      >
      
        Emuti |
        
        <mark class="px-2 text-black bg-yellow-300 rounded">Gaming Labs Sudamerica</mark>
      </h2>
      <Video />
    </SectionContainer>

    

    <SectionContainer id="education">
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-3 text-black items-center justify-center flex2"
      >
      <mark class="px-2 text-black bg-yellow-300 rounded"> Educación</mark>
        
      </h2>
      <Education />
    </SectionContainer>

    <SectionContainer id="github">
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-1 text-black  items-center justify-center flex2"
      >
      Licenciatura en<span class="text-blue-600 dark:text-blue-500"> Sistemas</span>
      </h2>

      <Github />
    </SectionContainer>

    <SectionContainer id="galeria">
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-1 text-black items-center justify-center flex2"
      >
      <mark class="px-2 text-black bg-yellow-300 rounded"> Eventos | Reconocimientos</mark>
      </h2>
      <Gallery />

    </SectionContainer>

    <SectionContainer id="videos">
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-1 text-black items-center justify-center flex2"
      >
      <mark class="px-2 text-black bg-yellow-300 rounded"> Videos Programando</mark>
      </h2>
      
      <Youtube />

    </SectionContainer>

    

    <SectionContainer id="proyectos">
      <h2
        class="flex mb-6 text-3xl font-extrabold  gap-x-3 text-black items-center justify-center flex2"
      >
        Otros  <span class="text-blue-600 dark:text-blue-500"> Proyectos</span>
      </h2>
      <Projects />
    </SectionContainer>
  
  </div>
  </main>
</Layout>
