---
import Layout from "@/layouts/Layout.astro"
import Github from "../components/sections/GithubPopu.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Youtube from "@/components/sections/Youtube.astro"
import Title from "@/components/Title.astro"
import CustomImageScroll from "../components/CustomImageScroll.astro";

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">


    <SectionContainer >

      <Title title="Repositorios Populares"/>
      <Github/>

      <Title title="ðŸŽ¥ Timelabs De Algunos Proyectos ðŸŽžï¸"/>
      <CustomImageScroll />
    </SectionContainer>
        
    <SectionContainer id="videos">
      <Title title="Youtube"/>
      <Youtube />
    </SectionContainer>

  </main>
</Layout>