---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Title from "../components/Title.astro"
import Gallery from "../components/sections/Gallery.astro"
import Certificaciones from "../components/sections/Certificaciones.astro"
import Presentaciones from "../components/sections/Presentaciones.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
      <SectionContainer >
        <Title title="Presentaciones"/>
        <Presentaciones/>
        <Title title="Galleria"/>
        <Gallery/>
        <br ><div class="h-4"></div>
        <Title title="Certificados"/>
        <Certificaciones/>
      </SectionContainer>
  </main>
</Layout>

