---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Title from "../components/Title.astro"

import Gallery from "../components/sections/Gallery.astro"
import Certificaciones from "../components/sections/Certificaciones.astro"
import Presentaciones from "../components/sections/Presentaciones.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
  <main class="px-4 ">
    <div class="space-y-20">

      <SectionContainer class="py-16 md:py-36">
        <Title title="Presentaciones" emoji="🤖"/>
        <Presentaciones/>
        
      </SectionContainer>

      <SectionContainer >
        <Title title="Galleria" emoji="🤖"/>
        <Gallery/>
        
      </SectionContainer>

      

      


      <SectionContainer>
        <Title title="Certificados" emoji="🤖"/>
        <Certificaciones/>
        
      </SectionContainer>
  </div>
  </main>
</Layout>

