---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Title from "@/components/Title.astro"
import AllProjecs from "@/components/sections/AllProjects.astro"
import Video from "@/components/video/MidFlash.astro"
import Trabajos from "@/components/sections/Trabajos.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
<main class="px-4 ">
  <SectionContainer class=" md:py-16 ">

  </SectionContainer>
  <div class="space-y-20  ">



    
  <!-- <SectionContainer >
    <Title title="MidFlash" emoji="🤖"/>
    <Video/>
  </SectionContainer>

  <SectionContainer >
    <Title title="Proyectos" emoji="🤖"/>
    <AllProjecs/>
  </SectionContainer> -->
  


</div>
</main>
</Layout>
