---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Title from "@/components/Title.astro"
import Resume2 from "@/components/resume.astro"

---

<Layout
  title="Fabian Martinez Rincon - Backend Developer Python"
  description="Backend Developer Python"
>
<main class="px-4 ">
  <SectionContainer class=" md:py-16 ">

  </SectionContainer>
  <div class="space-y-20  ">

  <SectionContainer >
    <Title title="Resume" emoji="🤖"/>
    <Resume2/>
  </SectionContainer>

</div>
</main>
</Layout>
