---
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";

//import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Python Developer</title>
    <meta name="description" content="Python Developer" />
    <meta name="author" content="Fabian Martinez Rincon" />
    <meta name="keywords" content="Python Developer" />
    <link rel="icon" href="/f.svg" />
  </head>
  <body class="dark:bg-white">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
    </button>

    

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-dark">Fabian Martinez Rincon</h1>
      <h2 class="text-1xl font-bold mb-1 dark:text-dark">Software Developer</h2>
      <h3 class="text-base dark:text-black">
        
      </h3>
    </div>

    

    <div id="Links" class="flex justify-between items-center w-full">
      <div class="flex items-center">
        <strong>Mail:</strong>
        <a href="mailto:fabianmartinezrincon.123@gmail.com" class="ml-2 text-red-500 hover:text-red-700">
          fabianmartinezrincon.123@gmail.com
        </a>
      </div>
      <div class="flex items-center">
        <strong>Github:</strong>
        <a href="https://github.com/Fabian-Martinez-Rincon" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-500 hover:text-red-700">
          Fabian-Martinez-Rincon
        </a>
      </div>
    </div>
    
    <div id="Links" class="flex justify-between items-center w-full">
      <div class="flex items-center">
        <strong>Portfolio:</strong>
        <a href="https://rincondelfabo.vercel.app/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-500 hover:text-red-700">
          rincondelfabo.vercel.app
        </a>
      </div>
      <div class="flex items-center">
        <strong>Linkedin:</strong>
        <a href="https://www.linkedin.com/in/fabian-martinez-rincon/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-500 hover:text-red-700">
          fabian-martinez-rincon
        </a>
      </div>
    </div>
    
    <div id="Links" class="flex justify-between items-center w-full">
      <div class="flex items-center">
        <strong>Phone:</strong>
        <a href="https://rincondelfabo.vercel.app/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-500 hover:text-red-700">
          +54 221-3529440
        </a>
      </div>
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        name="2023-Present"
        title="Testing Engineer"
        subTitle="Gaming Labs Sudamerica"
        description={[
            "",
            "",
            ""
        ]}
        />

    </div>

    <div id="education" class="mb-6">
       <SectionTitle title="Education" />
    
       <RowEntry
            name="2021-Present"
            title="Bachelor of Systems"
            subTitle="UNLP | Informatica"
            description={[
                "Skilled in Java and design patterns, Agile methodologies (Scrum), PostgreSQL, SQL, Linux, and relational databases. Proficient in Bash Scripting, Python, Flask, and front-end technologies including HTML, CSS, JavaScript, React, Tailwind and Vue.js"
            ]}
        />

        <RowEntry
            name="2014-2020"
            link="https://rincondelfabo.vercel.app/certificaciones/tecnico.png"
            title="Electronic Technician"
            subTitle="Albert Thomas EEPT N° 6 | Scored 08/10"
            description={[
                "Basic knowledge of C++, developed temperature converters in Visual Basic, and practical projects with Arduino."
            ]}
        />
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Projects" />
        
      <RowEntry
            name="24/12/2022"
            title="Midflash"
            subTitle="Github"
            description={[
                "I developed an automated system using Python, Selenium, and Pyautogui to optimize image manipulation and enhancement on Zyro, including automated uploading/downloading and resolution enhancement through AI."
            ]},
            link="https://github.com/Fabian-Martinez-Rincon/MidFlash"
        />

        <RowEntry
            name="01/05/2022"
            title="Datasets-Processor"
            subTitle="Github"
            description={[
                "Automated data processing with Python and Pandas streamlined the FIFA, Lagos de Argentina, and Spotify datasets by translating player data, converting coordinates, and standardizing musical genres, improving data consistency and readability."
            ]}
            link="https://gist.github.com/Fabian-Martinez-Rincon/54706afe9badc6848135b37dd0f30d30"
        />

    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Achievements/Recognitions" />
    
      <RowEntry
        description={["I gave a talk at the 'Solutions for Inclusion' hackathon, held at the UNLP Informatica"]}
        name="27/10/2023"
        link="https://www.extension.info.unlp.edu.ar/hackaton/"
        title="Hackathon Solutions for Inclusion"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["I was recognized by the president of the UNLP for my outstanding performance at the event. For more details, please see the official UNLP note"]}
        name="29/06/2023"
        link="https://unlp.edu.ar/institucional/vinculacion_tecnologica/prosecretaria-vinculacion-tecnologica/lopez-armengol-recibio-a-la-delegacion-de-la-unlp-que-participo-en-unidea-65089/"
        title="NOTE"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["I served as the leader of the winning project at the UNIDEA 2023 entrepreneurship event, which saw participation from students and graduates from various universities."]}
        name="31/05/2023"
        link="https://rincondelfabo.vercel.app/certificaciones/unidea.png"
        title="UNIDEA 2023 Winner"
        subTitle="UNICEN | Tandil"
      />

      <RowEntry
        description={["I participated in the 'Space-App Challenge' hackathon, where I presented and documented the software alongside a team of three people"]}
        name="01/10/2022"
        link="https://rincondelfabo.vercel.app/certificaciones/spaceApps.png"
        title="Space-App Challengue"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["During my internship, I mastered Arduino tools and modules for project implementation and created a static webpage using CSS, HTML, and JavaScript on GitHub Pages."]}
        name="2020-2021"
        link="https://rincondelfabo.vercel.app/certificaciones/unitec.PNG"
        title="Project Arduino "
        subTitle="UNITEC | Scored 10/10"
      />

    </div>

    


    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
