---
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";

//import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <title>Python Developer </title>
    <meta name="description" content="Python Developer" />
    <meta name="author" content="Fabian Martinez Rincon" />
    <meta name="keywords" content="Python Developer" />
    <link rel="icon" href="/f.svg" />
  </head>
  <body class="dark:bg-white">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
    </button>

  
    <div id="Links" class="flex items-center justify-start gap-6 w-full">
      <div class="flex items-center">
        <strong>Mail:</strong>
        <a href="mailto:fabianmartinezrincon.123@gmail.com" class="ml-2 text-red-700">
          fabianmartinezrincon.123@gmail.com
        </a>
      </div>
      <div class="flex items-center">
        <strong>Github:</strong>
        <a href="https://github.com/Fabian-Martinez-Rincon" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          Fabian-Martinez-Rincon
        </a>
      </div>
      <div class="flex items-center">
        <strong>Portfolio:</strong>
        <a href="https://rincondelfabo.vercel.app/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          rincondelfabo.vercel.app
        </a>
      </div>

    </div>
    
    <div id="Links" class="flex items-center justify-start gap-6 w-full">

      <div class="flex items-center">
        <strong>Linkedin:</strong>
        <a href="https://www.linkedin.com/in/fabian-martinez-rincon/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          fabian-martinez-rincon
        </a>
      </div>
      <div class="flex items-center">
        <strong>Phone:</strong>
        <a href="tel:+542213529440" class="ml-2 text-red-700">
          +54 221-3529440
        </a>
      </div>
    </div>
    
    <div class=" mb-3 ">
      <h1 class="text-4xl  mb-1 dark:text-dark">FABIAN MARTINEZ RINCON</h1>
      <h2 class="text-3xl font-bold mb-1 dark:text-dark">PYTHON DEVELOPER</h2>
    
    </div>

    <div id="work" class="mb-2">
      <SectionTitle title="EXPERIENCIA LABORAL" />

      <RowEntry
        name="Septiembre 2023 - Actualidad"
        title="Ingeniero en Testing"
        subTitle="Gaming Labs Sudamerica"
        description={[
            "Desarrollé un software en Python usando Pandas, PyGetWindow, OpenPyXL, PyAutoGUI y Tkinter para automatizar la entrada de datos en máquinas de juego, mejorando notablemente la eficiencia, reduciendo el tiempo de pruebas de 60hs a solo 5hs con un margen de error del 0%.",
            "Desarrollé una herramienta en Python utilizando la biblioteca Difflib para comparar dos bases de datos y detectar diferencias entre ellas, optimizando el tiempo de comparación de aproximadamente 5 horas a solo unos minutos. Para la gestión de archivos y directorios, implementé funciones con OS, y para la generación de informes detallados, utilicé Xlsxwriter, creando hojas de cálculo en Excel que resumen visualmente las modificaciones realizadas.",
            "Desarrollé un programa en Python que proporciona comandos para formatear permisos a través de un archivo Excel. Este programa cuenta con una interfaz gráfica creada con Tkinter que permite cargar, consultar, setear y eliminar permisos de forma individual o recursiva. Utiliza bibliotecas como Pandas para la manipulación de datos y OpenPyXL para la creación y formateo de archivos Excel. Este software es aplicable a cualquier empresa que necesite gestionar permisos de forma eficiente y segura.",
            "Desarrollé un programa en Python que extrae elementos HTML de una página web y los guarda en un archivo Excel para facilitar el trabajo del equipo de QA. Este programa utiliza bibliotecas como BeautifulSoup para el procesamiento de HTML, Pandas para la manipulación de datos y OpenPyXL para la creación y formateo de archivos Excel. Esto ha mejorado la eficiencia y precisión en la captura y manejo de datos relevantes.",
            "Optimicé la gestión de permisos de usuario implementando y administrando Listas de Control de Acceso (ACL) en un entorno Linux. Posteriormente, automatice el proceso mediante Bash Scripting desarrollado en Vim, que asigna eficientemente los permisos necesarios a los grupos correspondientes en toda la infraestructura empresarial",
        ]}
        />

    </div>

    <div id="education" class="mb-2">
       <SectionTitle title="Educación" />
    
       <RowEntry
            name="2021 - Actualidad"
            title="Licenciado en Sistemas"
            subTitle="UNLP | Informatica"
            description={[
                "Competente en Java y patrones de diseño, metodologías ágiles (Scrum), PostgreSQL, SQL, Linux y bases de datos relacionales. Hábil en Bash Scripting, Python, Flask y tecnologías de front-end incluyendo HTML, CSS, JavaScript, React, Tailwind y Vue.js."
            ]}
        />

        <RowEntry
            name="2014-2020"
            link="https://rincondelfabo.vercel.app/certificaciones/tecnico.webp"
            title="Tecnico en Electronica"
            subTitle="Albert Thomas EEPT N° 6 | Promedio 08/10"
            description={[
                "Conocimientos básicos de C++, desarrollé convertidores de temperatura en Visual Basic y proyectos prácticos con Arduino."
            ]}
        />
    </div>

     <div id="proyectos" class="mb-2">
      <SectionTitle title="Proyectos" />
      
      <RowEntry
            name="20/08/2024"
            title="Web Scraping - PLUTO-TV"
            subTitle="Github"
            description={[
                "Desarrollé un sistema de scraping en Python para Pluto TV, utilizando Selenium para la automatización de la navegación web, aiohttp y asyncio para solicitudes y tareas en paralelo, y BeautifulSoup para extraer datos del HTML. Los datos se almacenan en JSON. El proyecto incluye logging para monitoreo y manejo de errores, y otras dependencias como requests, trio, y websocket-client para asegurar una comunicación eficiente y segura."
            ]},
            link="https://github.com/Fabian-Martinez-Rincon/Scraping_PLUTO_TV"
        />

        <RowEntry
        name="20/06/2024"
        title="Char-IT"
        subTitle="Github"
        description={[
            "Desarrollé en equipo una plataforma web con Flask, que permite a los usuarios registrarse, iniciar sesión, donar e intercambiar productos, con roles diferenciados y seguridad avanzada. Usamos SQLAlchemy para la base de datos PostgreSQL, Flask-Bcrypt para la seguridad de contraseñas, Flask-Session para sesiones, Flask-WTF para formularios, y Flask-Mail para notificaciones. Las API se aseguraron con Flask-JWT-Extended y Authlib. La app se desplegó con Gunicorn y se habilitó CORS con Flask-CORS."
        ]}
        link="https://github.com/Fabian-Martinez-Rincon/Char-IT"
    />
    

      <RowEntry
            name="24/12/2022"
            title="Midflash"
            subTitle="Github"
            description={[
                "Desarrollé un un software con Python, Selenium y Pyautogui para optimizar la manipulación de imágenes en Zyro, facilitando las cargas/descargas y mejorando la resolución con IA."
            ]},
            link="https://github.com/Fabian-Martinez-Rincon/MidFlash"
        />

        <RowEntry
            name="01/05/2022"
            title="Datasets-Processor"
            subTitle="Github"
            description={[
                "La automatización del procesamiento de datos con Python y Pandas optimizó los conjuntos de datos de FIFA, Lagos de Argentina y Spotify mediante la traducción de datos de jugadores, la conversión de coordenadas y la estandarización de géneros musicales, mejorando la consistencia y legibilidad de los datos."
            ]}
            link="https://gist.github.com/Fabian-Martinez-Rincon/54706afe9badc6848135b37dd0f30d30"
        />

    </div> 

    <div id="education" class="mb-2">
      <SectionTitle title="LOGROS / RECONOCIMIENTOS/ VOLUNTARIADOS" />
    
      <RowEntry
        description={["Di una charla en el HACKATON Soluciones por la inclusión realizada en la UNLP Informatica"]}
        name="27/10/2023"
        link="https://www.extension.info.unlp.edu.ar/hackaton/"
        title="Charla"
        subTitle="UNLP | Informatica"
      />
      
      <RowEntry
        description={["Fui reconocido por el presidente de la UNLP por mi destacada actuación en el evento. Para más detalles, por favor consulta la nota oficial de la UNLP."]}
        name="29/06/2023"
        link="https://unlp.edu.ar/institucional/vinculacion_tecnologica/prosecretaria-vinculacion-tecnologica/lopez-armengol-recibio-a-la-delegacion-de-la-unlp-que-participo-en-unidea-65089/"
        title="Nota de Reconocimiento"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["Fui el líder del proyecto ganador en el evento de emprendimiento UNIDEA 2023, que contó con la participación de estudiantes y graduados de diversas universidades."]}
        name="31/05/2023"
        link="https://rincondelfabo.vercel.app/certificaciones/unidea.webp"
        title="UNIDEA 2023 Ganador"
        subTitle="UNICEN | Tandil"
      />

      <RowEntry
        description={["Mi tarea fue compartir mi experiencia con quienes están comenzando a transitar por alguna de las carreras, a fin de facilitar su adaptación al nuevo ámbito y ayudarlos a construir su rol de estudiante universitario."]}
        name="03-2022 / 13-2022"
        link="https://media.licdn.com/dms/document/media/D4D2DAQFw7Kp0-wGc8g/profile-treasury-document-pdf-analyzed/0/1715612412963?e=1724889600&v=beta&t=-8eJ0lG7-I1Uswxk7cmqbJfJKPHVHtIBD1XZZf_epFg"
        title="Tutor de Acompañamiento"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["Realice un desafio en el Hackaton 'Space-App Challengue'. Presente y documente el software en un equipo de 3 personas."]}
        name="01/10/2022"
        link="https://github.com/Cuestion-de-Espacio"
        title="Space-App Challengue"
        subTitle=""
      />


      <RowEntry
        description={["Pasantía de 200hs en las que trabaje con herramientas y módulos de Arduino para la implementación de proyectos. Documente todo en una página web estática usando CSS, HTML y JavaScript en GitHub Pages."]}
        name="2020-2021"
        link="https://rincondelfabo.vercel.app/certificaciones/unitec.webp"
        title="Proyecto Arduino"
        subTitle="UNITEC | Nota 10/10"
      />

    
    </div>

    


    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
