---
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";

//import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Python Developer</title>
    <meta name="description" content="Python Developer" />
    <meta name="author" content="Fabian Martinez Rincon" />
    <meta name="keywords" content="Python Developer" />
    <link rel="icon" href="/f.svg" />
  </head>
  <body class="dark:bg-white">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
    </button>
    <div id="Links" class="flex items-center justify-start gap-6 w-full">
      <div class="flex items-center">
        <strong>Mail:</strong>
        <a href="mailto:fabianmartinezrincon.123@gmail.com" class="ml-2 text-red-700">
          fabianmartinezrincon.123@gmail.com
        </a>
      </div>
      <div class="flex items-center">
        <strong>Github:</strong>
        <a href="https://github.com/Fabian-Martinez-Rincon" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          Fabian-Martinez-Rincon
        </a>
      </div>
      <div class="flex items-center">
        <strong>Portfolio:</strong>
        <a href="https://rincondelfabo.vercel.app/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          rincondelfabo.vercel.app
        </a>
      </div>

    </div>
    
    <div id="Links" class="flex items-center justify-start gap-6 w-full">

      <div class="flex items-center">
        <strong>Linkedin:</strong>
        <a href="https://www.linkedin.com/in/fabian-martinez-rincon/" target="_blank" rel="noopener noreferrer" class="ml-2 text-red-700">
          fabian-martinez-rincon
        </a>
      </div>
      <div class="flex items-center">
        <strong>Phone:</strong>
        <a href="tel:+542213529440" class="ml-2 text-red-700">
          +54 221-3529440
        </a>
      </div>
    </div>
    
    
    <div class=" mb-3">
      <h1 class="text-3xl  mb-1 dark:text-dark">Fabian Martinez Rincon</h1>
      <h2 class="text-2xl font-bold mb-1 dark:text-dark">PYTHON DEVELOPER</h2>
    
    </div>

    <div id="work" class="mb-2">
      <SectionTitle title="Working experience" />

      <RowEntry
        name="Septiembre 2023-Present"
        title="Testing Engineer"
        subTitle="Gaming Labs Sudamerica"
        description={[
          "I developed software in Python using Pandas, PyGetWindow, OpenPyXL, PyAutoGUI, and Tkinter to automate data entry in gaming machines, significantly improving efficiency, reducing testing time from 60 hours to just 5 hours with a 0% error margin.",
          "I optimized user permission management by implementing and administering Access Control Lists (ACL) in a Linux environment. I later automated the process through Bash scripting developed in Vim, which efficiently assigns the necessary permissions to the appropriate groups across the entire corporate infrastructure."
          ,"I developed a tool in Python using the Difflib library to compare two databases and detect differences between them, optimizing the comparison time from approximately 5 hours to just a few minutes. For file and directory management, I implemented functions with OS, and for generating detailed reports, I used Xlsxwriter, creating Excel spreadsheets that visually summarize the modifications made.",
          "I developed a Python program that extracts HTML elements from a web page and saves them to an Excel file to facilitate the work of the QA team. This program uses libraries such as BeautifulSoup for HTML processing, Pandas for data manipulation, and OpenPyXL for creating and formatting Excel files. This has improved the efficiency and accuracy in capturing and handling relevant data.",
          "I developed a Python program that provides commands to format permissions through an Excel file. This program features a graphical interface created with Tkinter that allows loading, querying, setting, and deleting permissions individually or recursively. It uses libraries like Pandas for data manipulation and OpenPyXL for creating and formatting Excel files. This software is applicable to any company that needs to manage permissions efficiently and securely."
        ]}
        />

    </div>

    <div id="education" class="mb-2">
       <SectionTitle title="Education" />
    
       <RowEntry
            name="2021-Present"
            title="Bachelor of Systems"
            subTitle="UNLP | Informatica"
            description={[
                "Skilled in Java and design patterns, Agile methodologies (Scrum), PostgreSQL, SQL, Linux, and relational databases. Proficient in Bash Scripting, Python, Flask, and front-end technologies including HTML, CSS, JavaScript, React, Tailwind and Vue.js"
            ]}
        />

        <RowEntry
            name="2014-2020"
            link="https://rincondelfabo.vercel.app/certificaciones/tecnico.webp"
            title="Electronic Technician"
            subTitle="Albert Thomas EEPT N° 6 | Scored 08/10"
            description={[
                "Basic knowledge of C++, developed temperature converters in Visual Basic, and practical projects with Arduino."
            ]}
        />
    </div>

    <div id="education" class="mb-2">
      <SectionTitle title="Projects" />
        
      <RowEntry
            name="24/12/2022"
            title="Midflash"
            subTitle="Github"
            description={[
                "I developed an automated system using Python, Selenium, and Pyautogui to optimize image manipulation and enhancement on Zyro, including automated uploading/downloading and resolution enhancement through AI."
            ]},
            link="https://github.com/Fabian-Martinez-Rincon/MidFlash"
        />

        <RowEntry
            name="01/05/2022"
            title="Datasets-Processor"
            subTitle="Github"
            description={[
                "Automated data processing with Python and Pandas streamlined the FIFA, Lagos de Argentina, and Spotify datasets by translating player data, converting coordinates, and standardizing musical genres, improving data consistency and readability."
            ]}
            link="https://gist.github.com/Fabian-Martinez-Rincon/54706afe9badc6848135b37dd0f30d30"
        />

    </div>

    <div id="education" class="mb-2">
      <SectionTitle title="Achievements/Recognitions" />
      <RowEntry
        description={["I was recognized by the president of the UNLP for my outstanding performance at the event. For more details, please see the official UNLP note"]}
        name="29/06/2023"
        link="https://unlp.edu.ar/institucional/vinculacion_tecnologica/prosecretaria-vinculacion-tecnologica/lopez-armengol-recibio-a-la-delegacion-de-la-unlp-que-participo-en-unidea-65089/"
        title="NOTE"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description={["I served as the leader of the winning project at the UNIDEA 2023 entrepreneurship event, which saw participation from students and graduates from various universities."]}
        name="31/05/2023"
        link="https://rincondelfabo.vercel.app/certificaciones/unidea.webp"
        title="UNIDEA 2023 Winner"
        subTitle="UNICEN | Tandil"
      />
      <RowEntry
        description={["During my internship, I mastered Arduino tools and modules for project implementation and created a static webpage using CSS, HTML, and JavaScript on GitHub Pages."]}
        name="2020-2021"
        link="https://rincondelfabo.vercel.app/certificaciones/unitec.PNG"
        title="Project Arduino "
        subTitle="UNITEC | Scored 10/10"
      />
    </div>



    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
