---

const { url, image, title, date } = Astro.props
---


<a href={url ?? '#'} class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden astro-DOHJNAO5" data-test="article-card">
    <img class="squiggle astro-DOHJNAO5" src={image?.url ?? 'https://docs.astro.build/assets/arc.webp'} alt="Introducing Astro: Ship Less JavaScript" width="360" height="192">
    <div class="py-6 px-8 astro-DOHJNAO5">
        <h2 class="font-bold text-2xl leading-tight astro-DOHJNAO5">
            {title ?? 'Untitled Post'}
        </h2>
        <p class="text-xs text-gray-600 mt-4 flex items-center astro-DOHJNAO5">
            {date.toString().slice(0,10) ?? 'Unknown Date'}
        </p>
    </div>
</a>