---
// Asegúrate de que estas propiedades son pasadas al componente cuando lo usas
const { url, image, title, date } = Astro.props;
---

<a href={url ?? '#'} class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl overflow-hidden border border-black" data-test="article-card">
    <img class="w-full h-auto" src={image?.url ?? 'https://docs.astro.build/assets/arc.webp'} alt={title ?? 'Untitled Post'}>
    <div class="p-4 bg-font-blog">
        <h2 class="text-lg leading-tight text-blue-300 overflow-hidden">
            {title ?? 'Untitled Post'}
        </h2>
    </div>
</a>
