
<section class=" max-w-screen-lg px-4 mx-auto pb-12 sm:px-6 lg:px-8">
    <ul
      class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-3 text-white"
    >
          <li>
            <a href="https://github.com/Fabo-University/CADP">
                <img 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=CADP&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="readme-typing-svg">
            </a>
          </li>
          <li>
            <a href="https://github.com/Fabo-University/Taller-de-Programacion">
                <img 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Taller-de-Programacion&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="custom-icon-badges">
            </a>
         </li>
        <li>  
            <a href="https://github.com/Fabo-University/Orientacion-a-Objetos1">
                <img 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Orientacion-a-Objetos1&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="dice-roll-albert-ext">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/AyED">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=ayed&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="readme-typing-svg">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/FOD">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=FOD&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="dice-roll-albert-ext">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/Seminario-de-Lenguajes-Python">
                <img width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Seminario-de-Lenguajes-Python&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" alt="custom-icon-badges">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/ISO">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=ISO&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false"
                alt="readme-typing-svg">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/Ingenieria-de-Software1">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Ingenieria-de-Software1&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" 
                alt="custom-icon-badges">
            </a>
        </li> 
        

        <li>
            <a href="https://github.com/Fabo-University/Programacion-Concurrente">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Programacion-Concurrente&theme=react&bg_color=1F222E&title_color=007FFF&icon_color=F8D866&hide_border=true&i&show_icons=false" 
                alt="dice-roll-albert-ext">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/Redes-y-Comunicaciones">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Redes-y-Comunicaciones&theme=react&bg_color=1F222E&title_color=007FFF&icon_color=F8D866&hide_border=true&i&show_icons=false" 
                alt="dice-roll-albert-ext">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/CPLP">
                <img 
                width="278" 
                src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=CPLP&theme=react&bg_color=1F222E&title_color=007FFF&icon_color=F8D866&hide_border=true&i&show_icons=false"
                alt="dice-roll-albert-ext">
            </a>
        </li>
        <li>
            <a href="https://github.com/Fabo-University/Arquitectura-de-Computadoras"><img  src="https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=Fabo-University&repo=Arquitectura-de-Computadoras&theme=react&bg_color=1F222E&title_color=FACC15&icon_color=F8D866&hide_border=true&show_icons=false" alt="readme-typing-svg">
        </li>
    </ul>
  </section>











