---
interface Props {
    description: string
    color: string
  }
  
const { description, color} = Astro.props
---

<style>
    #fondo:hover #imagen {
      transform: translate(35px, -35px);
    }

    #imagen {
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 40px;
      height: 40px;
    }
  </style>

<div id="fondo" class={`relative ${color} border-4 border-black p-4 text-pretty `}>
    <p id="parrafo" class="static">{description}</p>
  
</div>