---
interface Props {
    description: string
    color: string
  }
  
const { description, color} = Astro.props
---

<style>
    #fondo:hover #imagen {
      transform: translate(35px, -35px);
    }
     #fondo:hover {
        filter: brightness(120%); /* #ffe033d8Cambia el color del texto a rojo / amarillo */
    
    } 
    #imagen {
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 40px;
      height: 40px;
    }
  </style>

<div id="fondo" class={`relative ${color} border-4 border-black p-4 text-pretty `}>
    <p id="parrafo" class="static">{description}</p>
    <img id="imagen" src="/projects/push.png" alt="Descripción de la imagen">
</div>