---


---

<main>
  <div class="container">
    <div class="right_Side">
      <div class="profileText">

          <h2>Fabian Martinez | Backend Developer</h2>
          <i class="fa fa-github"></i>
          <span class="text"><a href="https://github.com/Fabian-Martinez-Rincon" target="_blank">Fabian-Martinez-Rincon</a></span>
          <br>
          <i class="fa fa-linkedin-square"></i>
          <a href="https://www.linkedin.com/in/fabian-martinez-rincon/" target="_blank">fabian-martinez-rincon</a>
          <i class="fa fa-envelope-o"></i>
          <a class="email-link" href="mailto:fabianmartinezrincon.123@gmail.com" rel="noopener noreferrer" target="_blank">fabianmartinezrincon.123@gmail.com</a>
          <i class="fa fa-web-o"></i>
          <a href="https://rincondelfabo.vercel.app/" rel="noopener noreferrer" target="_blank">Web Personal</a>

      </div>
      <h2 class="title2">Experiencia</h2>
      <ul>
        <li><b>2023(Septiembre)-Actualidad</b> Testing Engineer en GLI Sudamerica. Desarrollé un software para automatizar el ingreso de datos en las pruebas de emulación. Utilicé Python con las siguientes librerías:
          <ul class="list">
            <li><b>- Pandas</b> para procesar el excel de las jugadas</li>
            <li><b>- Pygetwindow</b> para el manejo de ventanas</li>
            <li><b>- Pyautogui</b> para el manejo del mouse y teclado</li>
            <li><b>- Tkinter</b> para la interfaz</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>


<style>
  
</style>
