---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---


<div class="text-center">
  <hr class="bg-red-600 h-1 mx-auto" />
  <h1 class="text-2xl font-bold uppercase mb-1 text-white bg-red-600 px-2">
    {title}
  </h1>
  
</div>

