---
const { title, color } = Astro.props
---

<h2
  class={`flex mb-6 text-3xl font-extrabold gap-x-3 text-blue-900 items-center justify-center flex2`}
>
<span class="border-b-4 border-red-800">
  {title}</span>
</h2>
</section>





