<div 
    class=" video-inline z-0 transition-transform duration-[1.5s] group-hover:scale-110">
    <video  
        class="max-w-screen-lg mx-auto pb-2 noise pointer-events-none left-0 top-0 z-20 block h-full w-full relative top-0 block overflow-hidden rounded-2xl" 
        autoplay="" 
        muted="" 
        loop="" 
        playsinline="" 
        preload="true" 
        width="610" 
        height="254">
            <source data-src="" type="video/mp4" src="https://github.com/Fabian-Martinez-Rincon/Fabian-Martinez-Rincon/assets/55964635/a1616a21-17e3-4d70-b54b-98c90eedbc7a">
    </video>

    
</div>





