---
const { path } = Astro.props
---

<div class="video-inline z-0 transition-transform duration-[1.5s] group-hover:scale-110">
        <video src={path} class="max-w-screen-lg mx-auto noise left-0 h-full w-full relative top-0 block overflow-hidden border-4 border-black" autoplay muted controls loop></video>
</div>
    
    