<div class=" video-inline z-0 transition-transform duration-[1.5s] group-hover:scale-110">


    <video  
    class="max-w-screen-lg mx-auto noise pointer-events-none left-0 h-full w-full relative top-0 block overflow-hidden border-4 border-black " 
    autoplay="" 
    muted="" 
    loop="" 
    playsinline="" 
    preload="true">
        <source data-src="" type="video/mp4" src="https://github.com/Fabian-Martinez-Rincon/Fabian-Martinez-Rincon/assets/55964635/a1616a21-17e3-4d70-b54b-98c90eedbc7a">
</video>
</div>





