---
import Layout from "./Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Content from "../components/Content.astro"
import BlogsFacu from "../components/sections/BlogsFacu.astro"

const { frontmatter } = Astro.props;
---

<Layout 
    title={frontmatter.title}
    description="Backend Developer Python"
  >
    <SectionContainer class="py-16 md:py-36 ">
        <main class="markdown-body " >
          <Content className="pt-6 markdown-body">
            <div class="mb-8 ">
              {
                frontmatter.image.url && (
                  <img
                    class=" "
                    width="100%"
                    height="auto"
                    src={frontmatter.image.url}
                    alt=""
                  />
                )
              }
            </div>
            <h1 class="text-3xl my-1 font-mplus">{frontmatter.title}</h1>
            <div>{frontmatter.description}</div>
            <hr class="border-top border-zinc-400 my-4" />
            <div class="markdown-body">
              <slot />
            </div>
            <span
              class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
            ></span>
          </Content>
        </main>
        <div class="mt-[100px]"><BlogsFacu/></div>
    </SectionContainer>
</Layout>

<style is:global>
  a {
    color: #6aaff0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }

  /* Estilos globales para Markdown */
  .markdown-body {
    line-height: 1.6;
    font-size: 16px;
    color: #333333;
    background-color: #161616bc;
    margin: auto;
    color: #e0dddd;
  }

  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: whitee;
  }

  .markdown-body h1 {
    font-size: 2em;
    color:rgb(251, 255, 0);

  }
  .markdown-body hr {
    line-height: 16px;
      border: none;
      border-top: 3px solid rgb(154, 0, 0); /* Ajusta el grosor del separador aquí */
      color: rgb(219, 0, 0);
      overflow: visible;
      width: 100%;
  }
  .markdown-body h2 {
    font-size: 1.5em;
    color: rgba(127, 172, 255, 0.993);
    
  }

  .markdown-body h3 {
    font-size: 1.25em;
    color: rgb(233, 182, 28);
    
  }

  .markdown-body h4 {
    font-size: 1.1em;
    color: rgb(127, 170, 255);
  }

  .markdown-body h5 {
    font-size: 0.875em;
  }

  .markdown-body h6 {
    font-size: 0.85em;
  }



  .markdown-body p {
    bottom: unset;
    padding: 1px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .markdown-body ul,
  .markdown-body ol {
    list-style-type: disc;
    padding-left: 2em;
    margin-top: 0;

  }

  .markdown-body li {
    margin-top: 0.25em;
  }

  .markdown-body a {
    color: #317fda;
    text-decoration: none;
  }

  .markdown-body a:hover {
    text-decoration: underline;
  }

  .markdown-body blockquote {
    margin-bottom: 20px;
    padding: 0.5em 1em;
    margin: 0 0 16px;
    border-left: 0.25em solid #dfe2e5;
    background-color: #2e2e2e;
    color: #ffffff;
  }

  .markdown-body code {
    margin-bottom: 20px;
    padding: 0.2em 0.4em;
    margin: 0;
    color: rgb(248, 101, 101);
    background-color: #cecece11;
    
  }

  .markdown-body pre > code {
    color: #ffffff;
  }

  .markdown-body pre {
    margin-bottom: 20px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  .markdown-body pre code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: none;
  }

  .markdown-body img {
    
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
    border: 5px solid #000000;
  }

  .markdown-body table {
    display: table; /* Cambiado de block a table para manejar correctamente el layout de tablas */
    width: 100%;
    max-width: none; /* Elimina cualquier restricción de ancho máximo */
    overflow: visible; /* Asegura que el contenido no se recorte si se expande más de lo esperado */
    margin-top: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
}

.markdown-body table th,
.markdown-body table td {
    padding: 10px;
    line-height: 1.6;
    vertical-align: middle; 
}

.markdown-body table th {
    font-weight: 600;
}

.markdown-body table thead th {
    vertical-align: bottom;
}

.markdown-body table tbody + tbody {
    border-top: 2px solid #dfe2e5;
}

.markdown-body table code { 
    white-space: pre-wrap; 
    display: block; 
}

.markdown-body table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dddddd58;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0,0,0,0.02);
}

.markdown-body table th, .markdown-body table td {
  border: 1px solid #dddddd58;
  padding: 10px;
  text-align: left;
}


  .markdown-body audio {
    
    padding-bottom: 20px;
    color: aqua;
    filter: invert(0.8);
  }


  .markdown-body details {
    cursor: pointer;
    padding-bottom: 10px;
  }

  
  .markdown-body hr.change-color {
    line-height: 16px;
      border: none;
      border-top: 3px solid rgb(154, 0, 0); /* Ajusta el grosor del separador aquí */
      color: rgb(219, 0, 0);
      overflow: visible;
      width: 100%;
  }


</style>

