---
import Layout from "./Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Content from "../components/Content.astro"
const { frontmatter } = Astro.props;
const allPosts = await Astro.glob('../pages/posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

---

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
  
</style>


<Layout 
    title={frontmatter.title}
    description="Backend Developer Python"
  >
    <SectionContainer class="py-16 md:py-36">
    
        <main class="pt-[56px] " >
          <Content className="pt-6">
            <div class="mb-8 ">
              {
                frontmatter.image.url && (
                  <img
                    class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                    width={720}
                    height={360}
                    src={frontmatter.image.url}
                    alt=""
                  />
                )
              }
            </div>
            <h1 class="text-3xl my-1 font-mplus">{frontmatter.title}</h1>
            <div>{frontmatter.description}</div>
            <hr class="border-top border-zinc-400 my-4" />
            <slot />
            <span
              class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
            ></span>
          </Content>
        </main>
    </SectionContainer>
</Layout>